appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
entrypoints==0.3
fastdiff==0.2.0
flake8==3.7.9
idna==2.8
mccabe==0.6.1
more-itertools==8.1.0
packaging==20.1
pathspec==0.7.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.6
pytest==5.3.4
regex==2020.1.8
requests==2.22.0
six==1.14.0
snapshottest==0.5.1
termcolor==1.1.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.8
wasmer==0.3.0
wcwidth==0.1.8
